allow init self:capability sys_module;
allow init tmpfs:lnk_file create;
allow init rild:process noatsecure;
allow init debugfs:dir mounton;
allow init sysfs_bluetooth_writable:file setattr;
allow init sysfs_display:file { open setattr write };
allow init sysfs_radio:file setattr;
allow init proc:file { open write };
allow init sysfs:file { setattr };
allow init sysfs_batteryinfo:file setattr;
allow init sysfs_cpuinfo:file { setattr open read };
allow init su_exec:file { getattr open read };
allow init sysfs_lmkd:file setattr;
allow init sudaemon:process { noatsecure rlimitinh siginh transition };
allow init sysfs_cpufreq:file setattr;

domain_trans(init, rootfs, cpboot-daemon)
