allow rild radio_data:dir { search write remove_name getattr add_name setattr };
allow rild radio_data:file { write getattr setattr read create unlink open };
allow rild system_file:file execmod;
allow rild efs_block_device:blk_file read;
allow rild efs_device_file:dir search;
