allow system_server uhid_device:chr_file { read write ioctl open };
allow system_server sysfs_display:file { read write getattr open };
allow system_server efs_file:dir { search };
allow system_server efs_file:file { read open write };
allow system_server efs_device_file:dir search;
