allow untrusted_app audioserver:dir { getattr search };
allow untrusted_app audioserver:file { getattr open read };
allow untrusted_app block_device:dir { open read };
allow untrusted_app bluetooth:dir { getattr search };
allow untrusted_app bluetooth:file { getattr open read };
allow untrusted_app cameraserver:dir { getattr search };
allow untrusted_app cameraserver:file { getattr open read };
allow untrusted_app cpboot-daemon:dir { getattr search };
allow untrusted_app cpboot-daemon:file { getattr open read };
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app debuggerd:file { getattr open read };
allow untrusted_app device:dir { open read };
allow untrusted_app drmserver:dir { getattr search };
allow untrusted_app drmserver:file { getattr open read };
allow untrusted_app efs_device_file:dir getattr;
allow untrusted_app firmware_mfc:file getattr;
allow untrusted_app gatekeeperd:dir { getattr search };
allow untrusted_app gatekeeperd:file { getattr open read };
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app healthd:file { getattr open read };
allow untrusted_app init:dir { getattr search };
allow untrusted_app init:file { getattr open read };
allow untrusted_app installd:dir { getattr search };
allow untrusted_app installd:file { getattr open read };
allow untrusted_app isolated_app:dir { getattr search };
allow untrusted_app isolated_app:file { getattr open read };
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app lmkd:file { getattr open read };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app kernel:file { getattr open read };
allow untrusted_app keystore:dir { getattr search };
allow untrusted_app keystore:file { getattr open read };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app logd:file { getattr open read };
allow untrusted_app mediacodec:dir { getattr search };
allow untrusted_app mediacodec:file { getattr open read };
allow untrusted_app mediadrmserver:dir { getattr search };
allow untrusted_app mediadrmserver:file { getattr open read };
allow untrusted_app mediaextractor:dir { getattr search };
allow untrusted_app mediaextractor:file { getattr open read };
allow untrusted_app mediaserver:dir { getattr search };
allow untrusted_app mediaserver:file { getattr open read };
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netd:file { getattr open read };
allow untrusted_app perfprofd:dir { getattr search };
allow untrusted_app perfprofd:file { getattr open read };
allow untrusted_app platform_app:dir { getattr search };
allow untrusted_app platform_app:file { getattr open read };
allow untrusted_app priv_app:dir { getattr search };
allow untrusted_app priv_app:file { getattr open read };
allow untrusted_app radio:dir { getattr search };
allow untrusted_app radio:file { getattr open read };
allow untrusted_app rild:dir { getattr search };
allow untrusted_app rild:file { getattr open read };
allow untrusted_app rootfs:dir { open read };
allow untrusted_app sdcardd:dir { getattr search };
allow untrusted_app sdcardd:file { getattr open read };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app servicemanager:file { getattr open read };
allow untrusted_app shell:dir { getattr search };
allow untrusted_app shell:file { getattr open read };
allow untrusted_app su:dir { getattr search };
allow untrusted_app su:file { getattr open read };
allow untrusted_app sudaemon:dir { getattr search };
allow untrusted_app sudaemon:file { getattr open read };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app surfaceflinger:file { getattr open read };
allow untrusted_app sysfs:dir { getattr search open read};
allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app sysfs_lowmemorykiller:file { getattr open read };
allow untrusted_app sysfs_zram:dir search;
allow untrusted_app sysfs_zram:file { getattr open read };
allow untrusted_app system_app:dir { getattr search };
allow untrusted_app system_app:file { getattr open read };
allow untrusted_app system_server:dir { getattr search };
allow untrusted_app system_server:file { getattr open read };
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app ueventd:file { getattr open read };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app vold:file { getattr open read };
allow untrusted_app wpa:dir { getattr search };
allow untrusted_app wpa:file { getattr open read };
allow untrusted_app zygote:dir { getattr search };
allow untrusted_app zygote:file { getattr open read };
