#============= storaged ==============
allow storaged debugfs:file { getattr open read };

#============= sysinit ==============
allow sysinit app_data_file:dir search;
allow sysinit app_data_file:file open;
allow sysinit self:capability dac_override;
