type shal_livedisplay_default, domain;
hwbinder_use(shal_livedisplay_default)

type shal_livedisplay_default_exec, exec_type, file_type;
init_daemon_domain(shal_livedisplay_default)

# Add vendor.lineage.livedisplay::IColor service to hwservicemanager
add_hwservice(shal_livedisplay_default, shal_lineage_livedisplay_hwservice)
